body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;

}

.button:hover {
  background-color: #fff;
  color: #3498db;
}


.a {
  text-decoration: none;
  color: inherit;
}